.sign-up
    .container
        .row
            .col-lg-7
                .sign-up__title
                    include ../../../img/svg/newsletter-icon.svg
                    span Sign up to Newsletter
                    .sign-up__innertext
                      |  ...and receive
                      strong $20 coupon for first shopping
            .col-lg-5
                .sign-up__searchWrap
                    input(class="sign-up__search", placeholder="Enter your email address")
                    button(class="sign-up__searchButton" ) Sign Up
footer.footer-main
    .container
        .row
           .col-lg-5
               .footer-logo
                   a(href="#")
                       include ../../../img/svg/logo.svg
               .call-us
                   .call-us__img
                        include ../../../img/svg/Support-icon.svg
                   .call-us__text
                       span.call-us__title Got questions? Call us 24/7!
                       span.call-us__number (800) 8001-8588, (0600) 874 548
               .contact-us
                   h5.contact-us__title Contact Info
                   address 17 Princess Road, London, Greater London NW1 8JR, UK
               .footer-social
                   ul.footer-social__wrapper
                       li.footer-social__item
                            a(href="#")
                                include ../../../img/svg/facebook.svg
                       li.footer-social__item
                           a(href="#")
                               include ../../../img/svg/twitter.svg
                       li.footer-social__item
                           a(href="#")
                               include ../../../img/svg/rss.svg
                       li.footer-social__item
                           a(href="#")
                               include ../../../img/svg/google-plus.svg
                       li.footer-social__item
                           a(href="#")
                               include ../../../img/svg/flickr.svg
                       li.footer-social__item
                           a(href="#")
                               include ../../../img/svg/dribbble.svg
                       li.footer-social__item
                           a(href="#")
                               include ../../../img/svg/linkedin.svg
           .col-lg-7
                .footer-nav
                    .footer-nav__column
                        h4.footer-nav__title Find it Fast
                        ul.footer-nav__wrapper
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Laptops & Computers
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Cameras & Photography
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Smart Phones & Tablets
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Video Games & Consoles
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") TV & Audio
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Gadgets
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Car Electronic & GPS

                    .footer-nav__column
                        h4.footer-nav__title &nbsp;
                        ul.footer-nav__wrapper
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Printers & Ink
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Software
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Office Supplies
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Computer Components
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Accesories

                    .footer-nav__column
                        h4.footer-nav__title Customer Care
                        ul.footer-nav__wrapper
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") My Account
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Order Tracking
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Wish List
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Customer Service
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Returns / Exchange
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") FAQs
                            li.footer-nav__item
                                a(href="#", class="footer-nav__link") Product Support
.footer__bottom-wrap
    .container
        .row
            .footer__bottom
                .footer__bottom-name
                    span ©
                    a(href="#")  Electro
                    span - All rights Reserved

                .footer__bottom-cart
                    ul
                        li
                           img(src="img/Payment.png", alt="Img")