mixin card-bl
    .card-bl
        .col-lg-4
            .card-bl__item
                .card-bl__image-wr

                .card-bl__text-wr
                    p catch big <strong>deals</strong> on the cameras
                    a(href="#")
                        strong Shop now

        .col-lg-4
            .card-bl__item
                .card-bl__image-wr
                
                .card-bl__text-wr

                    p tablets, smartphones <strong>and more</strong>
                    a(href="#", class="text_vertical")
                        span.text up<br>to
                        span.card-bl__text-wr__price
                            strong 70%


        .col-lg-4
            .card-bl__item
                .card-bl__image-wr
                
                .card-bl__text-wr

                    p shop the <strong>hottest</strong> products
                    a(href="#")
                        strong Shop now