mixin item-default
    .item-default

        .item-default__head
            .item-default__sub-title
                a(href="#") Speakers

            .item-default__title

                a(href="#") Wireless Audio System Multiroom 360

        .item-default__pic-wr

            .item-default__pic

        .item-default__price-bl

            .item-default__price

                .item-default__price-main $699,99

                .item-default__price-last $799.99

            .item-default__add-to-cart

        .item-default__features-bl
                .item-default__feature-item
                    a(href="#") <i><img src="../img/svg/compare-icon.svg"/></i> Compare

                .item-default__feature-item
                    a(href="#") <i><img src="../img/svg/wishlist-icon.svg"/></i> Add to Wishlist