.special-offer-bl.special-offer-bl_bordered

    .special-offer-bl__top

        .special-offer-bl__top__title
            <strong>Special</strong><br>Offer

        .special-offer-bl__top__save-price-bl
            span Save
            span.save-price-bl $20

    .special-offer-bl__img-container

        .special-offer-bl__img-container__pic-wr

        .special-offer-bl__img-container__pic-title

            a(href="#") Game Console Controller + USB 3.0 Cable

        .special-offer-bl__img-container__pic-price

            .special-offer-bl__img-container__last-price
                | $99,00

            .special-offer-bl__img-container__action-price
                | $79,00

    .special-offer-bl__slider-wr

        .special-offer-bl__slider-wr__item-available
            span Available:
            strong 6

        .special-offer-bl__slider-wr__item-left
            span Already Sold:
            strong 28

        .special-offer-bl__slider-wr__slider

            span(style="width: 35%;")

    .special-offer-bl__offer-time-wr
        
        .special-offer-bl__offer-time-wr__title Hurry Up! Offer ends in:

        .special-offer-bl__offer-time-wr__offer-time-bl
            .hour
                .num-container 08
                span hours
            .mins
                .num-container 19
                span mins
            .secs
                .num-container 54
                span secs

