mixin media-banner( img )
    .media-banner
        .media-banner__img
            img(src="img/#{img}", alt="picture")
        .media-banner__text
            .media-banner__inner
                p catch big<br/>
                    strong deals
                    | on the<br/>
                    | cameras
                .shop-now__wrapper
                    button Shop now
