mixin product-banner(title, text)
    - var title = title || "Lorem Impsum";
    - var text = text || "Lorem Impsum";
    .product-banner
        h3.product-banner__title=title
        p.product-banner__text=text
