section.jumbo
    .jumbo-carousel
        div.jumbo-slide
            .container
                .row
                    .col-lg-3
                    .col-lg-4
                        .jumbo-content
                            h1.jumbo-content__title THE NEW STANDA
                            h4.jumbo-content__subtitle UNDER FAVORABLE SMARTWATCHES
                            .jumbo-content__price
                                span from
                                .jumbo-content__number 749
                                    span 99

        div.jumbo-slide
            .container
                .row
                    .col-lg-3
                    .col-lg-4
                        .jumbo-content
                            h1.jumbo-content__title THE NEW STANDA
                            h4.jumbo-content__subtitle UNDER FAVORABLE SMARTWATCHES
                            .jumbo-content__price
                                span from
                                .jumbo-content__number 749
                                    span 99
        div.jumbo-slide
            .container
                .row
                    .col-lg-3
                    .col-lg-4
                        .jumbo-content
                            h1.jumbo-content__title THE NEW STANDA
                            h4.jumbo-content__subtitle UNDER FAVORABLE SMARTWATCHES
                            .jumbo-content__price
                                span from
                                .jumbo-content__number 749
                                    span 99
