@import "variables";

// Title's
.main-title {
  &__wrapper {
    margin-bottom: 30px;
    hr {
      background-color: rgb(221, 221, 221);
      height: 1px;
      margin: 0;
      padding: 0;
    }
  }
  &__text {
    padding-bottom: 20px;
    position: relative;
    color: $black;
    &.title--small {
      font-size: em(19);
    }
    &.title--big {
      font-size: 25px;
    }
    &::after {
      content: '';
      width: 20%;
      height: 2px;
      position: absolute;
      background-color: rgb(254, 215, 0);
      bottom: -1px;
      left: 0;
    }

  }
}


