<div class="wl-appcontent">
	<div class="wrapper clearfix">
		<div class="wrapper--inner">
			<main id="main" class="clearfix" role="main">
				<h1>hello world</h1>
				<!-- ko foreach: headContent -->
					<!-- ko component: {
						name: $data['@type'],
						params: {
							state: $parent.state,
							contentItem: $data
						}
					} -->
					<!-- /ko -->
				<!-- /ko -->

				<!-- ko ifnot: order.commerceItems().length -->

					<!-- ko foreach: middleContent -->
						<!-- ko component: {
							name: $data['@type'],
							params: {
								state: $parent.state,
								contentItem: $data
							}
						} -->
						<!-- /ko -->
					<!-- /ko -->

					<div class="clearfix align-right">
						<a class="wl-button" data-bind="attr: {'href': continueShoppingLink()}">Continue Shopping</a>
					</div>

				<!-- /ko -->

				<div id="incentiveModal" class="clearfix dialog" title="">
					<div data-bind="html: incentiveHtml()"></div>
					<div class="dialog-footer">
						<ul class="list-inline">
							<li><button class="btn btn-success" data-bind="click: function() {applyIncentive(); closeIncentiveModal();}">Apply</button></li>
							<li><button class="btn btn-link closeIncentiveModal" data-bind="click: function() {closeIncentiveModal();};">Cancel</button></li>
						</ul>
					</div>
				</div>
				<div class="flyout-form" id="incentiveFlyoutForm" data-bind="initCloseFlyout : ''">
					<div class="flyout-form-container">
						<button class="close-flyout closeThisFlyoutAction" data-bind="click: function() {memorizeIncentive(true)}">
							<span class="sr-only">Close Flyout Form</span><i class="fa fa-times-circle-o" aria-hidden="true"></i>
						</button>
						<div class="dynamic-form">
							<div data-bind="html: incentiveHtml()"></div>
							<div class="dynamic-form-footer">
								<button class="btn btn-success closeThisFlyoutAction" data-bind="click: function() {applyIncentive();}">Apply</button>
								<button class="btn btn-link closeThisFlyoutAction" data-bind="click: function() {memorizeIncentive(true)}">Cancel</button>
							</div>
						</div>
					</div>
				</div>
				<div class="flyout-form-overlay"></div>

				<!-- ko if: order.commerceItems().length -->
				<div class="row">
					<div class="col-sm-8">
						<div class="alert alert-success" data-bind="visible: addedToCartMessage() != null && addedToCartMessage().length > 0">
							<i class="fa fa-info-circle" aria-hidden="true"></i>
							<span data-bind="html: addedToCartMessage"></span>
						</div>
						<div class="alert alert-success" data-bind="visible: orderMergeMessages().length > 0, foreach: { data: orderMergeMessages, afterRender: mergeMessagesShown }">
							<p data-bind="html: $data"></p>
						</div>
						<div class="account-section-title">
							<h1 class="account-section-title">Shopping Cart</h1>
							<button data-bind="click: removeAllFromOrder" class="wl-button pull-right btn-nopadding wl-button-link">Remove All Items</button>
						</div>

						<div data-bind="foreach: order.commerceItems.slice(0).reverse()" class="product-line-items">

							<!--Product Item START-->
							<div class="product-line-item clearfix">
								<div class="wl-product-info">
									<div class="wl-product clearfix">
										<div class="image">
											<!-- ko if: $data.product.displayLinkInCart -->
												<!-- ko if: $data.gwp() && $data.product.downloadableContent -->
													<a data-bind="attr:{href: $data.product.downloadableContent}" target="_blank">
														<img data-bind="attr:{ src: $data.product.thumbnailImage(), 'alt': $data.product.displayName}" onerror="imgErrorProduct(this);">
													</a>
												<!-- /ko -->
												<!-- ko ifnot: $data.gwp() && $data.product.downloadableContent -->
													<a data-bind="click: $parent.gotoView, attr:{ 'data-id': $data.product.pdpLink(), href: $data.product.seoUrl}">
														<img data-bind="attr:{ src: $data.product.thumbnailImage(), 'alt': $data.product.displayName}" onerror="imgErrorProduct(this);">
													</a>
												<!-- /ko -->
											<!-- /ko -->
											<!-- ko ifnot: $data.product.displayLinkInCart -->
												<img data-bind="attr:{ src: $data.product.thumbnailImage(), 'alt': $data.product.displayName}" onerror="imgErrorProduct(this);">
											<!-- /ko -->
											<div class="wl-actions">

												<p class="wl-action wl-action-remove">
													<a data-bind="click: function (data) { $parent.removeItem($data.repositoryId(), data) }" href="#">Remove</a>
												</p>

											</div>
										</div>

										<div class="info">
											<h3 class="name">
												<!-- ko if: $data.product.displayLinkInCart -->
													<!-- ko if: $data.gwp() && $data.product.downloadableContent -->
														<a data-bind="text: $data.product.displayName, attr:{ href: $data.product.downloadableContent}" target="_blank"></a>
													<!-- /ko -->
													<!-- ko ifnot: $data.gwp() && $data.product.downloadableContent -->
														<a data-bind="text: $data.product.displayName, click: $parent.gotoView, attr:{ 'data-id': $data.product.pdpLink(), href: $data.product.seoUrl}"></a>
													<!-- /ko -->
												<!-- /ko -->
												<!-- ko ifnot: $data.product.displayLinkInCart -->
													<div data-bind="text: $data.product.displayName"></div>
												<!-- /ko -->
											</h3>
											<ul>
												<li data-bind="text: $data.product.displayItemNumber" class="fsid"></li>
												<!-- ko if: $data.product.available -->
												<li class="skustatus"> In Stock </li>
												<!-- /ko -->
											</ul>
										</div>
									</div>

									<table class="wl-table wl-table--line-items">
										<thead>
										<tr>
											<th class="money">Price</th>
											<th class="numeric text-center">Qty</th>
											<th class="money">Total</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td class="col-price">
												<p class="wl-prices clearfix">
													<!-- ko if: isDiscountedPrice() -->
														<del class="price-original price">
															<strong>Was:</strong>
															<span data-bind="text: $parent.fixPrice($data.priceForOne())"></span>
														</del>

														<span class="price-sale price">
															<strong>Now:</strong>
															<span data-bind="text: $parent.fixPrice($data.listPrice())"></span>
														</span>
													<!-- /ko -->

													<!-- ko ifnot: isDiscountedPrice() -->
														<span class="price-sale price">
															<span data-bind="text: $parent.fixPrice($data.listPrice())"></span>
														</span>
													<!-- /ko -->
												</p>
											</td>
											<td class="col-quantity">
												<div class="wl-value">
														<select id="cartQuantityOptions" name="quantity" title="Quantity" class="form-submit" data-bind="
															options: qtyOptionsDisplay,
															optionsText: function(item) {
																return item.mainQuantity + (item.discountedQuantity > 0 ? ' + ' + item.discountedQuantity : '');
															},
															optionsValue: function(item) {
																return item.mainQuantity + item.discountedQuantity;
															},
															selectedOptions: selected,
															value: quantity,
															event:{ change: $parent.changeQuantity.bind($data)}">
														</select>
												</div>
											</td>
											<!-- ko if: itemIsFree() -->
												<td class="col-total">
													<span class="price">Free</span>
												</td>
											<!-- /ko -->

											<!-- ko ifnot: itemIsFree() -->
												<td class="col-total">
													<span data-bind="text: $parent.fixPrice($data.rawTotalPrice())" class="price"></span>
												</td>
											<!-- /ko -->
										</tr>
										</tbody>
									</table>
								</div>


								<!-- ko if: $data.showUpgradeToAD() -->
								<div class="wl-product-desc">
									<div class="ad-upgrade">
										<p class="description">Add AutoDelivery to get FREE SHIPPING today! <a href="#">More</a></p>
										<a data-bind="click: $parent.upgradeAutoDelivery.bind($data)" class="wl-button-primary">Upgrade with AutoDelivery</a>
									</div>
								</div>
								<!-- /ko -->

								<!-- ko if: $data.autoDelivery-->
								<div class="wl-product-desc">
									<div class="ad-upgrade">
										<p class="description">With AutoDelivery, lock-in today's low price
											and receive FREE shipping on today's order and
											ALL future AutoDelivery shipments. You are
											authorizing your credit card to be charged
											the price listed each time your order ships.
											Shipment frequency is based upon the month(s)
											supply ordered. By placing your order on
											AutoDelivery you are agreeing to these terms.
											Change or cancel your AutoDelivery shipments
											at any time by calling Customer Service at
											1-800-665-9737.</p>
										<a data-bind="click: $parent.removeAutoDelivery.bind($data)"  class="wl-button-secondary">
											Remove AutoDelivery FREE Shipping and<br>Extra Savings
										</a>
									</div>
								</div>
								<!-- /ko -->

								<!-- ko if: $data.discountedQuantity() > 0 -->
									<!-- ko component: {
										name: 'orderFreeProducts',
										params: {
											state: $parent.state,
											isConfirmation: false,
											commerceItem: $data,
											discountedQuantity: $data.discountedQuantity(),
											isCart: true
										}
									} -->
									<!-- /ko -->
								<!-- /ko -->

							</div>
							<!--Product Item END-->

						</div>

					</div>
					<div class="col-sm-4">

						<div class="checkout-block">
							<a data-bind="click: gotoView, visible: commerceItemsAmount() > 0" data-id="checkout" href="/checkout" class="wl-button btn-block">Proceed to <br>Secure Checkout</a>
							<div class="checkout-block-out" data-bind="visible: showPayPalButton()">
								<a data-bind="click: proceedToPayPal" href="#" class="btn-checkout">
									<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="PayPal Checkout">
								</a>
							</div>
						</div>

						<%--TODO--%>
						<%--<div class="checkout-block-warning">
							<p>You have applied but do not qualify for these promotions. They will not be used if you check out now.</p>
							<div class="promocode">
								<span class="glyphicon glyphicon-remove-sign cursor-pointer" aria-hidden="true"></span>
								<em>SUMMER2017</em> –$15 off $200
							</div>
						</div>--%>

						<!-- ko component: {
								name: 'orderSummary',
								params: {
									state: state,
									order: order,
									showCouponSectionTop: true
								}
							} -->
						<!-- /ko -->

						<div class="checkout-block">
							<a data-bind="click: gotoView, visible: commerceItemsAmount() > 0" data-id="checkout" href="/checkout" class="wl-button btn-block">Proceed to <br>Secure Checkout</a>
							<div class="checkout-block-out">
								<a data-bind="click: proceedToPayPal, visible: showPayPalButton()" href="#" class="btn-checkout" >
									<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="PayPal Checkout">
								</a>
							</div>
						</div>
					</div>
				</div>


				<!-- /ko -->



				<br>
				<br>

				<!-- ko component: {
						name: 'insertableCollection',
						params: {
							state: state,
							contentCollection: '/content/Web/ShoppingCart/Spotlights',
							ruleLimit: 7,
							page: 'cart',
							leadProdId: order.firstProdId
						}
					} -->
				<!-- /ko -->


				<!-- ko foreach: bottomContent -->
				<!-- ko component: {
					name: $data['@type'],
					params: {
						state: $parent.state,
						contentItem: $data
					}
				} -->
				<!-- /ko -->
				<!-- /ko -->





			</main>
		</div>
	</div>

	<a class="screenreaderonly" href="#navaccessibility">Top of Page</a>

</div>