ul.header__navbar
    li.header__navbar-link
        a(href="#")
            include ../../../img/svg/compare.svg
    li.header__navbar-link
        a(href="#")
            include ../../../img/svg/wishlist.svg
    li.header__navbar-link
        a(href="#")
            .header__navbar-summary
                include ../../../img/svg/shopping.svg
                .header__navbar-counter
                    span 4
            .header__navbar-quantity
                span.header__navbar-quantity-dollar $
                span.header__navbar-quantity-current 3 215.99


