.row
    .col-lg-12
        .breadcrumbs
            nav
                ul.breadcrumbs__wrap
                    li.breadcrumbs__list
                        a(href="#", class="breadcrumbs__link") Home
                    li.breadcrumbs__list
                        a(href="#", class="breadcrumbs__link-active") Laptops & Computers
                    li.breadcrumbs__list
                        a(href="#", class="breadcrumbs__link") Laptops & Computers Categories