.special-offer
    .special-offer__header
        .special-offer__header-title
            h5
                strong Special<br/>
                | Offer
        .special-offer__header-button
            button Save<br/>
                | $20
    .special-offer__img
        img(src="img/321x297.png", alt="Picture")
    .special-offer__title
        a(href="#")
            h3 Game Console Controller <br/>+ USB 3.0 Cable
    .special-offer__price
        span.special-offer__price-old $99,00
        span.special-offer__price-new $79,00
    .special-offer__bar
        .special-offer__bar-text
            span Availavle: <strong>6</strong>
            span Already Sold: <strong>28</strong>
        .special-offer__progress
            .special-offer__progress-active
    .special-offer__countdown-wrap
        h6 Hurry Up! Offer ends in:


