.header__contacts
    .header__contacts-item
        a(href="#", class="header__contacts-link")
            .header__contacts-icon
                include ../../../img/svg/phone-little.svg
            .header__contacts-text
                span +060 (800) 801-858
    .header__contacts-item
        a(href="#", class="header__contacts-link")
            .header__contacts-icon
                include ../../../img/svg/letter-little.svg
            .header__contacts-text
                span info@electro.com
