.container
    .row
        .banner
            a(href="#")
                .banner__wrapper
                    .banner__text
                        h2 SHOP AND <strong>SAVE BIG</strong> ON HOTTEST TABLETS
                    .banner__price
                        h6 Starting at
                        span.jumbo-content__number 749<span>99</span>
                .banner-full__text
