<div class="container">
    <!--ko if: $data.breadcrumbs-->
    <div class="row">
        <div class="col-lg-12">
            <!--ko component: { name: 'breadcrumbs', params: { breadcrumbs: $data.breadcrumbs(), app: $data.app } } --><!--/ko-->
        </div>
    </div>
    <!--/ko-->
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <!--ko component: { name: 'category-hierarchy-aside', params: { app: $data.app, onClick: $data.categorySelect.bind($data) } } --><!--/ko-->
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="main-title__wrapper">
                <h3 class="main-title__text title--big">
                    <span data-bind='text: $data.title'></span>
                </h3>
                <hr/>
            </div>
            <div class="items-row">
                <div class="row" data-bind="foreach: $data.products">
                    <div class="col-lg-4 col-md-6">
                        <div class="simple-element columnBig">
                            <div class="simple-element__wrap columnBig">
                                <div class="simple-element__img">
                                    <div class="simple-element__background">
                                        <img data-bind="click: $parent.goToPDP.bind($parent), attr: { src: $data.image || '/assets/images/270x240.png' }" onerror="this.src = '/assets/images/270x240.png'" />
                                    </div>
                                </div>
                                <div class="simple-element__text columnBig">
                                    <div class="simple-element__header">
                                        <h5 data-bind="text: $data.display_name"></h5>
                                    </div>
                                    <div class="simple-element__footer">
                                        <div class="simple-element__price" data-bind="text: '$' + $data.sale_price">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button data-bind="click: $data.pageNavigation.bind($data, 'prev')">Prev</button>
                <span><span data-bind="text: $data.currentPage"></span> / <span data-bind="text: $data.pageCount"></span></span>
                <button data-bind="click: $data.pageNavigation.bind($data, 'next')">Next</button>
            </div>
        </div>
    </div>
</div>